<!DOCTYPE html>
<head>

</head>
<body>
  <h1>Hello World</h1>
      <% products.map((product)=>{%>
      <h4><a href="/products/<%=product.id%>"><%=product.productsTitle %></a></h4>
      <p><%=product.productsDescription %></p>
      <p>ราคา : <%=product.productsPrice %> บาท</p>

      <%})%>
  
</body>
</html>